
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply w-36 h-10 bg-green-600 text-center text-white px-4 py-2 mx-8 my-8 rounded-lg hover:bg-green-700 duration-300 cursor-pointer shadow-lg;
}

.header-btn{
    @apply bg-green-500 font-medium h-12 mx-4 w-36 text-white leading-12 text-center rounded-lg hover:bg-green-600 duration-300 cursor-pointer shadow-xl;
}

.login-btn, .logout-btn{
    @apply bg-red-500 font-medium h-12 mx-4 w-36 text-white leading-12 text-center rounded-lg hover:bg-red-600 duration-300 cursor-pointer shadow-xl;
}

/* .not_logged_in{
    font-size: 10rem;
} */

.title{
  @apply text-lg h-16 w-60 text-white text-center mx-4 mt-4 rounded-t-md font-bold bg-blue-800 flex flex-col justify-center items-center font-open-sans;
}

.rating{
  @apply text-base h-12 w-40 text-white rounded-b-md text-center mx-4 font-bold bg-purple-800 flex flex-col justify-center items-center font-open-sans;
}

.options{
  @apply flex my-4 text-lg;
}

.navbar {
    background-color: #7C3AED ;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  
  .nav-menu {
    background-color: rgb(183, 247, 181);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 150ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(87, 54, 39);
    list-style: none;
    height: 32px;
  }
  
  
  .nav-text:hover {
    background-color: #ffffff;
    cursor: pointer;
    color: #7C3AED;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: rgb(183, 247, 181);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }